.pypl-logo {
    width: 136px;
    height: 35px;
    display: inline-block;
    padding: 0;
    background: transparent url(https://www.paypalobjects.com/digitalassets/c/website/logo/full-text/pp_fc_hl.svg) center center no-repeat;
    background-clip: border-box;
    background-origin: padding-box;
    background-position: 0 50%;
    background-size: contain;
    overflow: hidden;
    text-indent: -999em;
}